body {
    margin: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-top: 0px;
} 

/* Classes */

.top {
    background-color: rgb(196, 234, 240);
    position: relative;
    padding-top: 100px;
    
}
.bottomcloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.topcloud {
    position: absolute;
    right: 300px;
    top: 50px;
}





.middle {
    background-color: red;
    height: 200px;
    
    width: 200px;
    
    
}

.bottom {
    background-color: blue;
    height: 200px;
    width: 200px;
}


.pro {
    text-decoration: underline;
}

/* span {
    background-color: coral;
} */


