body {
    color: #40514E;
    margin: 0px;
    text-align: center;
    font-family: 'Lobster', cursive;
    background-color: ;
    /* font-family: 'Merriweather', serif; */
}    


h1 {
    font-size: 5.625rem;
    /* 16 * 90/ */
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    /* line-height: 2; */
} 

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;

}

h3{
    font-family : 'Montserrat', sans-serif;
    color: #11999E;



}


a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}

a:hover {
    color: #EAF6F6;
}

p {
    line-height: 2;
   
}



hr {
    color: #EAF6F6;
    border-style: none;
    border-top-style: dotted;
    
    border-width: 5px;
    width: 5%;
    margin: 100px auto;
    

   
}
/* Classes */

.top {
    background-color: rgb(196, 234, 240);
    position: relative;
    padding-top: 100px;
    
}
.bottomcloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.topcloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
    
}

.computer-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.graph-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}


/* .web-skill {
    clear: left;
}

.ml-skill {
    clear: right;
} */




.middle-container {
    margin: 100px 0 ;
    
    
    
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px  0 20px;
}

.pro {
    text-decoration: underline;
}

.intro {
    width: 30%;
    margin: auto;

}

/* span {
    background-color: coral;
} */


/* Contact */
.contact-message {
    width: 40%;
    margin: 40px auto 60px;


    
}

.copyright-message {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0 ;
}

.btn {
    color: rgb(14, 14, 14);
    font-size: 20px;
    padding: 20px;
    text-shadow: -1px -1px 3px rgba(30, 30, 30, 1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: rgb(0, 255, 0);
    background: -moz-linear-gradient(90deg, rgb(0, 255, 0) 30%, rgb(171, 255, 0) 70%);
    background: -webkit-linear-gradient(90deg, rgb(0, 255, 0) 30%, rgb(171, 255, 0) 70%);
    background: -o-linear-gradient(90deg, rgb(0, 255, 0) 30%, rgb(171, 255, 0) 70%);
    background: -ms-linear-gradient(90deg, rgb(0, 255, 0) 30%, rgb(171, 255, 0) 70%);
    background: linear-gradient(0deg, rgb(0, 255, 0) 30%, rgb(171, 255, 0) 70%);
    -webkit-box-shadow: 1px 1px 8px rgba(52, 50, 50, 0.76);
    -moz-box-shadow:    1px 1px 8px rgba(52, 50, 50, 0.76);
    box-shadow:         1px 1px 8px rgba(52, 50, 50, 0.76);

} 



 


